@{
    ViewData["Title"] = "Projects";
}
<h1>@ViewData["Title"]</h1>




<ul>
   <!--

   <li><a href="@Url.Action("ActionName1", "ControllerName1")">Link Text 1</a></li>
   --> 
    <li><a href="">FizzBuzz</a></li>
</ul>